@model Employee.Models.MEmployee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basic" class="control-label"></label>
                <input asp-for="Basic" class="form-control" />
                <span asp-validation-for="Basic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DA" class="control-label"></label>
                <input asp-for="DA" class="form-control" />
                <span asp-validation-for="DA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HRA" class="control-label"></label>
                <input asp-for="HRA" class="form-control" />
                <span asp-validation-for="HRA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetSalary" class="control-label"></label>
                <input asp-for="NetSalary" class="form-control" />
                <span asp-validation-for="NetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
